{% extends "layout.html" %}
{% block scripts %}
    <script type="text/javascript">
        let btn_check = document.getElementById('btnCheck');
        btn_check.addEventListener('click', (event) => {
            let lista = document.querySelectorAll('table.table input[type="checkbox"]:checked');
            console.log(lista);
        });
    </script>
{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1>ANN</h1>
    <p class="lead">Image reader</p>
    <p>{{ respuesta }}</p>
</div>

<div class="row">
	<div class="col-md-3">
		<p>PROCESAR IMAGEN CON PILLOW</p>
		<form method="post" action="/cargar_pillow" enctype="multipart/form-data">
			<input type="file" name="file" id="file" />
			<button type="submit">Cargar</button>
		</form>
	</div>
	<div class="col-md-3">
		<p>PROCESAR IMAGEN CON OPEN CV</p>
		<form method="post" action="/cargar_opencv" enctype="multipart/form-data">
			<input type="file" name="file" id="file" />
			<button type="submit">Cargar</button>
		</form>
	</div>
	<div class="col-md-3">
		<p>LEER RED NEURONAL</p>
		<form method="post" action="/readnet" enctype="multipart/form-data">
			<input type="file" name="file" id="file" />
			<button type="submit">click me</button>
		</form>
	</div>
	<div class="col-md-3">
		<p>OCR</p>
		<form method="post" action="/readnet2" enctype="multipart/form-data">
			<input type="file" name="file" id="file" />
			<button type="submit">click me</button>
		</form>
	</div>
	<div class="col-md-3">
		<p>TEST</p>
		<form method="post" action="/test" enctype="multipart/form-data">
			<input type="file" name="file" id="file" />
			<button type="submit">click me</button>
		</form>
	</div>
	<div class="col-md-3">
		<p>CONSULTA A BASE DE DATOS</p>
		<button type="button" id="btnCheck">
			verificar
		</button>
		<table class="table table-condensed table-border">
			<tr>
				<th>Checks</th>
				<th>ID</th>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
			{% for n in lista %}
			<tr>
				<td><input type="checkbox" /></td>
				<td>{{ n.federation_id }}</td>
				<td>{{ n.name }}</td>
				<td>{{ n.email }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
