{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>ANN</h1>
    <p class="lead">Image reader</p>
    <p>{{ respuesta }}</p>
</div>

<div class="row">
    <div class="col-md-4">
       <form method="post" action="/cargar" enctype="multipart/form-data">
           <input type="file" name="file" id="file" />
           <button type="submit">Cargar</button>
       </form>
    </div>
    <div class="col-md-4">
        <table class="table table-condensed table-border">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
            {% for n in lista %}
            <tr>
                <td>{{ n.federation_id }}</td>
                <td>{{ n.name }}</td>
                <td>{{ n.email }}</td>
            </tr>            
            {% endfor %}
        </table>
        
     
    </div>
    <div class="col-md-4">       
    </div>
</div>

{% endblock %}
